docs/authToken.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="authenticationToken" type="authenticationToken"/>

  <xs:complexType name="authenticationToken">
    <xs:sequence>
      <xs:element name="token" type="xs:string" minOccurs="0"/>
      <xs:element name="userId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

