docs/bigram.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="bigram" type="bigram"/>

  <xs:complexType name="bigram">
      <xs:sequence>
        <xs:element name="mi" type="xs:double"/>
        <xs:element name="wlmi" type="xs:double"/>
        <xs:element name="gram1" type="xs:string" minOccurs="0"/>
        <xs:element name="gram2" type="xs:string" minOccurs="0"/>
      </xs:sequence>
  </xs:complexType>
</xs:schema>

