docs/relatedWords.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="related" type="related"/>

  <xs:complexType name="related">
    <xs:sequence>
      <xs:element name="wordstrings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="wordstring" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="gram" type="xs:string"/>
    <xs:attribute name="relType" type="xs:string"/>
  </xs:complexType>
</xs:schema>

