docs/word.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="word" type="word"/>

  <xs:complexType name="word">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="vulgar" type="xs:string" minOccurs="0"/>
      <xs:element name="wordstring" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

